
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
}

.footer-content {
    display: flex;
    /* Flexbox layout */
    justify-content: space-between;
    /* Space between items */
    max-width: 1100px;
    margin: 0 auto;
}


.footer-links ul {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove padding */
}

.footer-links a,
.footer-socials a {

    margin: 0 10px;
    /* Space between icons */
    text-decoration: none;
    color: #00d1ff;
}
a:hover {
    color: #ff6bcb;
    text-shadow: 0 0 8px #ff6bcb, 0 0 12px #ff6bcb;
}

.footer-socials a {
    font-size: 23px;
    /* Icon size */
}

.footer-bottom {
    margin-top: 0px;
    /* Space above copyright */
}

h1,
h2,
h3,
h4 {
    color: #39ff14;
    /* Neon green for headers */
}


